<div class="card">
  <!--<img class="card-img-top" src="http://via.placeholder.com/350x150" alt="Card image cap">-->
  <div class="card-block">
  <h4 class="card-title">{{position}}. {{team.teamname}} <span class="badge badge-success my-float-right">{{team.totalmeters}} m</span></h4>
    <small>hat das Gewässer <a href="{{riverLink}}" target="_blank">{{riverName}}</a> durchschwommen</small>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item" *ngFor="let schwimmer of team.members">
      <div style="width: 100%">
        <div class="my-float-left">
          <b>{{schwimmer.firstname}} {{schwimmer.lastname}}</b>
        </div>
        <div class="my-float-right">
          <span class="badge badge-success">{{schwimmer.meters}} m</span>
        </div>
      </div>
    </li>
  </ul>
  <button style="width: 100%" routerLink="/team/{{team._id}}" class="btn btn-primary">ansehen</button>
</div>