<div class="card-block">
  <h4 class="card-title">Login</h4>
  <form (ngSubmit)="onSubmit()" #loginForm="ngForm">

    <div class="card-text">
      <div [ngClass]="{'form-group': true, 'has-success': email.valid}">
        <input name="email" [(ngModel)]="Iemail" required type="email" class="form-control form-control-success" id="email"
          #email="ngModel" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" placeholder="Email" />
        <div *ngIf="email.valid" class="form-control-feedback">Email ist gültig</div>
        <div [hidden]="email.valid || email.pristine" class="form-control-feedback">Bitte geben Sie eine gültige Emailadresse ein.</div>
      </div>

      <div [ngClass]="{'form-group': true, 'has-success': password.valid}">
        <input type="password" name="password" [(ngModel)]="Ipassword" required class="form-control form-control-success" id="password"
          #password="ngModel" pattern="^(?=.*\d).{4,50}$" placeholder="Passwort" />
        <div *ngIf="password.valid" class="form-control-feedback">Passwort ist gültig</div>
        <div [hidden]="password.valid || password.pristine" class="form-control-feedback">Das Password muss mindestens 4 Zeichen lang sein und eine Zahl enthalten.</div>
      </div>

      <br>
      <button [disabled]="!loginForm.form.valid" type="submit" style="width: 100%" class="btn btn-primary">Login</button>
    </div>
  </form>
</div>