<div class="row">
  <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center">
    <div *ngIf="success; else elseBlock">
      <h1>Erfolgreich</h1>
      hier geht es weiter zum Login <br><br> <button routerLink="/user/login" class="btn btn-primary">Login</button>
    </div>
    <ng-template #elseBlock>
      <h1>Fehlgeschlagen</h1>
      hier geht es weiter zur Registrierung <br><br> <button routerLink="/user/register" class="btn btn-primary">Registrierung</button>
    </ng-template>
  </div>
</div>